
.card{
 
    border: 1px solid rgb(75, 61, 46);
    animation: border-pulse 4s infinite;
    
}

@keyframes border-pulse {
    0% {
        border-color: rgba(75, 61, 46, 0);
    }

    25%{
        border-color: rgba(75, 61, 46, .3);
    }

    50%{
        border-color: rgba(75, 61, 46, .8);
    }

    75%{
        border-color: rgba(75, 61, 46, .3);
    }

    100% {
        border-color: rgba(75, 61, 46, 0);
    }
}